html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #10002b;
}

header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header > nav {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    background: #240046;
    box-shadow: 0 2px black;
}

header > nav > ul > li {
    display: inline;
    margin: 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 2px;
    color: white;
    background: #7b2cbf;
}

main {
    color: white;
}

main > section {
    width: 80vw;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background: #3c096c;
}

.greeting-section {
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    margin-top: 0;
    background: #3c096c url("./assets/theme-image.jpg") no-repeat;
    background-size: cover;
}